/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --lg-bg: #430590;
  --lg-alt-bg: #ffffff;
  --dk-alt-bg: #340d74;
  --lg-text: #000000;
  --lg-icon: #ffffff;
  --global-icon-color: #ffffff;
  --dk-bg: #1e1e1e;
  --dk-text: #ffffff;
  --lg-toggle-icon: #430590;
  --dk-toggle-icon: #ffffff;
  --logo: url('./images/scrimaster-logo.png');
  --dk-border: #340D74;
  --lg-border: #A539DF;
}

body.light {
  --background-color: var(--lg-bg);
  --background-alt-color: var(--lg-alt-bg);
  --text-color: var(--lg-text);
  --icon-color: var(--global-icon-color);
  --border-color: var(--lg-border);
  --image: url('./images/global-background-alt-lg.png');
}

body.dark {
  --background-color: var(--dk-bg);
  --text-color: var(--dk-text);
  --icon-color: var(--global-icon-color);
  --background-alt-color: var(--dk-alt-bg);
  --border-color: var(--dk-border);
  --image: url('./images/global-background-alt-dk.png');
}