
.navOpen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    background-color: var(--background-color);
    width: 20%;
    position: fixed;
    transform: translateX(0);
    transition: 0.7s ease-in-out;
}
.navClosed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    background-color: var(--background-color);
    width: 20%;
    position: fixed;
    transform: translateX(200%);
    transition: 0.7s ease-in-out;
}

.icon_container {
    height: 8vh;
    width: 100%;

    margin-right: 6%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links_container {
    height: auto;
    width: 100%;

    margin-right: 6%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.links_container__links {
    padding-top: 4%;
    padding-bottom: 4%;

    border-bottom: 1pt solid #ffffff;

    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;

    transition: 0.7s ease-in-out;
}

.links_container__links:hover {
    opacity: 0.75;
    transition: 0.7s ease-in-out;
}

.nav a:hover {
    color: #00FFFF;
    transition: color 0.5s;
}

.button_container_signin {
    height: auto;
    width: 100%;

    margin-top: 20%;

    margin-right: 6%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button_container_signin__button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
    border: 1px solid #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button_container_signin__button:hover {
    transition: 0.7s;
    color: var(--background-color);
    background-color: #ffffff;
}

.spacer_container {
    height: auto;
    width: 100%;

    margin-top: 5%;
    margin-right: 6%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.spacer_container__spacer {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.button_container_signup {
    height: auto;
    width: 100%;

    margin-top: 4%;

    margin-right: 6%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button_container_signup__button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
    border: 1px solid #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container_signup__button:hover {
    transition: 0.7s;
    color: var(--background-color);
    background-color: #ffffff;
}



#toggle_close_icon {
    height: 20px;
    width: 20px;

    color: var(--icon-color);

    transition: 1s ease-in-out;

    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .navOpen {
        width: 30%
    }
    .navClosed {
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .navOpen {
        width: 40%
    }
    .navClosed {
        width: 40%;
    }
}

@media only screen and (max-width: 1024px) {
    .navOpen {
        width: 100%
    }
    .navClosed {
        width: 100%;
    }
}